body{
    background-color: rgb(0, 158, 244);
    font-family: arial;
    color: #ffec6d;
  }
      .button{
        padding: 100px 100px;
        font-size: 50px;
      }


  h1{
    text-align: center;
    font-size:50px ;
  }

  p.introblurb{
    text-align: center;
  }

  ul{
    list-style-type: square;
  }
/*Flex Box for Imgs side by side */
  .row {
    display: flex;
    background-color: #ffec6d;
  }
  .column{
  flex: auto;
  justify-content: center;
  padding: 5px;
}
/*Media Query - sizing for diff screens*/
  img{
    width: 35%;
    display: block;
    margin: 0 auto;
  }
  @media(min-width: 1200px){
    img{
      width: 35%;
      display: block;
      margin: 0 auto;
    }
    body{
      background-color: #ffec6d;
      font-family:'Courier New', Courier, monospace;
      color:rgb(0, 158, 244);
    }
    .row {
      display: flex;
      background-color: rgb(0, 158, 244);
    }
  }  
  @media(max-width: 1080px){

    body{
      background-color: #ffec6d;
      font-family: Georgia, serif;
      color: rgb(0, 158, 244);
    }
    img{
      width: 25%;
      display: block;
      margin: 0 auto;
    }
    .row {
      display: flex;
      background-color: rgb(0, 158, 244);
      border-radius: 5px;
    }

  }
  @media all and (max-width: 900px){
    img{
      width: 100px;
      display: block;
      margin: 0 auto;
      border-radius: 15px;
    }
  }

  
  


