body {
  background-color: rgb(192, 150, 255);
  background-image: linear-gradient(to bottom right, rgb(28, 28, 86), rgb(192, 150, 255));
  color: rgb(192, 150, 255);
  font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 40px;
}

.flashcard {
  font-size: 30px;
  color:rgb(57, 32, 171);
  /*Space at the top & bottom*/
  width: 300px;
  padding: 20px;
  /*At this point, the card, they are stacked on top of each other*/
  margin: 18px;
  /*Adds space between cards*/
  float: left;
  cursor: pointer;
  /*Doesn't allow for the text within the box to be highlighted/selected*/
  border-radius: 10px;
}

.flashcard.front {
  background-color: rgb(121, 160, 255);
}

.flashcard.back {
  background-color: rgb(206, 148, 253);
}

.scoreDiv {
  background-color: rgb(121, 160, 255);
  color: rgb(61, 40, 154);
  /*Space at the top & bottom*/
  width: 300px;
  /*At this point, the card, they are stacked on top of each other*/
  float: right;
  border-radius: 10px;
  font-size: 40px;
  margin: 10px;
}

button {
  color: white;
  background-color: rgb(192, 150, 255);
  font-size: 40px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  padding: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.decrementBtn{
  padding-left: 15px;
  padding-right: 15px;
}