body {
  background-repeat: no-repeat center center fixed;
  background-color: black;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/532/358/385/light-spectrum-wallpaper-preview.jpg');
}

.App {
  text-align: center;
  color: white;
}

/* Margin & padding make it so the whole page is full in color */
h1 {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.question-section {
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  background-image: linear-gradient(to bottom right, rgb(255, 208, 0), rgb(210, 13, 210));
  padding: 20px;
  border-radius: 16px;
  box-shadow: rgb(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 3) 0px, 18px 36px -18px;

  width: 80%;
  height: auto;
}

button {
  color: white;
  font-size: 25px;
  border-color: rgb(207, 10, 95);
  background-color: rgb(207, 10, 95);
  margin-top: 10px;
  margin-left: 15px;
  padding: auto;
  border-radius: 12px;
  cursor: pointer;
}
