body {
  /*Background */
  background-image: url(https://images.unsplash.com/photo-1551970634-747846a548cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JlZW4lMjBsZWFmc3xlbnwwfHwwfHw%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  background-color: #001E00;
  /*FONT*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif
}

h1{
  font-size: 50px;
  color: white;
  text-align: center;
}
h4{
  font-size: 30px;
  color: white;
  text-align: left;
}

form{
  color: white;
  content: "\a";
  white-space: pre;/*these lines allow scroll horizontal*/
}


/*BUTTON - By Class Name*/
.collapsible {
  background-color: #001E00;
  color: white;
  padding: 30px;
  /* area around content*/
  width: 100%;
  /* Width of page*/
  border: none;
  /*around the collapsible button, can also put none*/
  text-align: center;
  font-size: 25px;
}

/*BUTTON Hover*/
.active,
.collapsible:hover {
  background-color: #284628;
}

/*BUTTON Content Box*/
.content {
  padding: 10px 20px 20px 15px;
  display: none;
  overflow: auto;
  /*if content goes over it will create scroll function*/
  background-color: #001E00;
  color: white;
}
/*Padding: top right left bottom*/

/*CSS for Social Media Buttons from W3Schools*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 80%;

}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #55ACEE;
  color: white;
}