/* App.css was copied from starter code as per instructions */
fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
  color: rgb(120, 3, 120);
}

header img {
  height: 64px;
  margin-right: 1em;
}
body{
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210429/pngtree-colorful-abstract-faceted-crystallized-background-image_689475.jpg');
  background-color: pink;
  font-size: 20px;
  color: white;
}

/* Users */
.user-management{
  background-color: rgb(111, 3, 111, 0.9);
  margin-left: 2em;
  border: solid rgb(111, 3, 111) 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.addusersdiv{
  border: solid rgb(244, 244, 244) 3px;
  margin-top: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-right: 10px;
}

/* Search Events */
.event-management{
  background-color: rgb(111, 3, 111, 0.9);
  border: solid black 5px;
  margin-top: 15px;
  margin-left: 2em;
  padding-right: 500px;
  padding-left: 10px;
  border: solid rgb(111, 3, 111) 3px;
  padding-right: 500px;
}

.addeventdiv{
  border: solid rgb(244, 244, 244) 3px;
  margin-top: 15px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-right: 100px;
}

/* Events */
.search-toolbar{
  background-color: rgb(111, 3, 111, 0.9);
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: space-between;

}
/* Add & Delete Buttons */
button{
  background-color: rgba(255, 159, 255);
  border: rgba(255, 159, 255);
  border-radius: 5px;
}
/* Submit Button */
input[type=submit]{
  background-color: rgba(255, 159, 255);
  border: rgba(255, 159, 255);
  border-radius: 5px;
}
/* Input Labels - Alignment */
label {
  display: inline-block;
  width: 110px;
  text-align: left;
}
aside {
  margin-left: 2em;
  background-color: rgb(111, 3, 111, 0.9);
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  margin-top: 1rem;
  font-size: small;
  color: white;
}