body {
  background-color: rgb(36, 53, 100);
  color: white;
  text-align: center;
  font-size: 40px;
}

input[type=text] {
  background-color: white;
  color: rgb(111, 157, 255);
  padding: 20px;
  border-radius: 30px;
  border-color: white;
  font-size: 40px;
}

::placeholder{
  color:rgb(111, 157, 255);
  text-align: center;
}

input[type=submit] {
  background-color: rgb(111, 157, 255);
  color: white;
  padding: 20px;
  border-radius: 30px;
  border-color: white;
  font-size: 30px;
}

button {
  background-color: rgb(111, 157, 255);
  color: white;
  padding: 20px;
  border-radius: 30px;
  border-color: white;
  font-size: 30px;
}